.page-content-wrapper {
  flex-grow: 1;
  position: relative;

  &.has-border {
    border-radius: 4px;
    background-color: $white;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 992px) {
  }
}
