.page-content-wrapper {
  flex-grow: 1;
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;

  &.info-layout {
    padding: 1rem 1rem 0;
    @media (max-width: 576px) {
      padding: 1rem;
    }
  }

  @media (max-width: 576px) {
    padding: 1rem;
  }

  &.has-border {
    border-radius: 4px;
    background-color: $white;
    border: 1px solid rgba(0, 0, 0, 0.2);

    @media (max-width: 576px) {
      border: none;
    }
  }

  &.list-layout {
    border: none;
    background-color: transparent;
  }

  @media (max-width: 992px) {
  }
}
