.edit-sprint-wrapper {
  .sprint-daily-meetings {
    .sprint-daily-meeting {
      padding: 1.5rem 1.5rem 1rem;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border: $border;
      margin-bottom: 1.5rem;
      position: relative;
      background-color: rgba(0, 0, 0, 0.025);

      .meeting-index {
        position: absolute;
        top: -15px;
        left: 8px;
        > span {
          display: inline-flex;
          width: 30px;
          height: 30px;
          justify-content: center;
          background-color: $white;
          border: $border;
          border-radius: 50%;
          > span {
            align-self: center;
          }
        }
      }

      .day-of-weeks {
        button {
          margin-right: 0.25rem;

          &:last-child {
            margin-right: 0;
          }

          &.selected {
            background-color: $yellow;
          }
        }
      }

      .meeting-remove-button {
        position: absolute;
        top: 10px;
        right: 10px;
      }

      .question-item {
        display: flex;
        margin-bottom: 0.5rem;

        > div {
          align-self: center;
        }

        .question {
          flex-grow: 1;
        }

        .dir-button {
          &.up,
          &.down {
            margin-right: 0.5rem;
          }

          &.delete {
            margin-left: 0.5rem;
          }
        }
      }

      .add-button {
        text-align: center;
        margin-top: 1rem;
      }
    }
  }
}
