.sprint-board-summary-wrapper {
  .meeting-summary {
    > span {
      margin-right: 0.5rem;
    }
  }

  .user-list {
    flex-grow: 1;

    .user-table {
      width: 100%;
    }
    table {
      font-size: 14px;
      .user-info {
        text-transform: uppercase;

        .user-image {
          margin-right: 0.5rem;
        }
      }

      th,
      td {
        vertical-align: middle;
      }

      th {
        font-family: pretendard, sans-serif;
        font-weight: bold;
        background-color: $light;
      }

      tbody {
        border-top-color: rgba(0, 0, 0, 0.2);
      }

      .number {
        text-align: right;
      }

      td {
        &.number {
          width: 130px;
          min-width: 130px;
          font-family: righteous, plex, pretendard, sans-serif !important;

          > span {
            margin-right: 0.25rem;
            &.up {
              color: $danger;
            }

            &.down {
              color: $blue;
            }
          }
        }
      }

      .user-info {
        min-width: 200px;
        font-family: pretendard, sans-serif;
        font-weight: bold;
      }
    }
  }
}
