.sprint-wrapper {
  .sprint-user-list {
    margin-bottom: -1rem;
    .user-card {
      width: calc((100% - 4rem) / 5);
      display: inline-block;
      margin-right: 1rem;
      margin-bottom: 1rem;

      &:nth-child(5n) {
        margin-right: 0;
      }

      @media (max-width: 1400px) {
        width: calc((100% - 3rem) / 4);

        &:nth-child(5n) {
          margin-right: 1rem;
        }

        &:nth-child(4n) {
          margin-right: 0;
        }
      }

      @media (max-width: 1200px) {
        width: calc((100% - 2rem) / 3);

        &:nth-child(4n) {
          margin-right: 1rem;
        }

        &:nth-child(3n) {
          margin-right: 0;
        }
      }

      @media (max-width: 992px) {
        width: calc((100% - 1rem) / 2);

        &:nth-child(3n) {
          margin-right: 1rem;
        }

        &:nth-child(2n) {
          margin-right: 0;
        }
      }

      @media (max-width: 768px) {
        width: 100%;
        margin-right: 0;
      }
    }
  }
}
