.sprint-summary-wrapper {
  .meeting-summary {
    display: inline-flex;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
    > span {
      align-self: center;
      &.tag {
        margin-right: 0.5rem;
        > span {
          font-size: 14px;
          background-color: $gray-200;
          padding: 0.5rem 0.75rem;
          line-height: 100%;
          display: inline-block;
          border-radius: 2px;
          font-family: pretendard, sans-serif;
        }
      }
      &.slash {
        margin: 0 0.5rem;
      }
    }
  }

  .user-list {
    flex-grow: 1;
    width: 100%;

    .user-table {
      width: 100%;
    }
    table {
      font-size: 14px;
      .user-info {
        text-transform: uppercase;

        .user-image {
          margin-right: 0.5rem;
        }
      }

      th {
        padding: 0.5rem 1rem;
      }

      th,
      td {
        vertical-align: middle;
      }

      th {
        font-family: pretendard, sans-serif;
        font-weight: bold;
        background-color: $light;
      }

      tbody {
        border-top: none;
      }

      .number {
        text-align: right;
      }

      td {
        &.number {
          width: 120px;
          min-width: 120px;
          font-family: righteous, plex, pretendard, sans-serif !important;

          > span {
            margin-right: 0.25rem;
            &.up {
              color: $danger;
            }

            &.down {
              color: $blue;
            }
          }
        }
      }

      .user-info {
        min-width: 200px;
        font-family: pretendard, sans-serif;
        font-weight: bold;
      }
    }
  }
}
