.sprint-board-wrapper {
  .sprint-board-day-selector {
    display: flex;
    > div {
      align-self: center;
    }
  }

  .page-content {
    display: flex;
    flex-direction: column;
  }

  .board-content {
    flex-grow: 1;
    padding: 0 1rem;
  }
}
