.sprints-wrapper {
  .empty-sprint {
    background-color: $white;
    height: 100%;
    display: flex;
    > div {
      align-self: center;
      width: 100%;
      text-align: center;
      font-size: 20px;
    }
  }
  .sprint-list {
    padding: 0;
    margin: 0.5rem 0 0;
    list-style: none;
    width: 100%;

    > li {
      padding: 1rem;
      background-color: $white;
      border: 1px solid rgba(0, 0, 0, 0.2);
      margin-bottom: 1rem;
      cursor: pointer;
      &:hover {
        border: 1px solid rgba(0, 0, 0, 0.6);
      }
      > div {
        display: flex;

        @media (max-width: 992px) {
          flex-direction: column;
        }

        .name-and-date {
          flex-grow: 1;
          .name {
            font-weight: bold;
            margin-bottom: 0;
            font-size: 20px;
          }

          .sprint-date {
            > div {
              display: inline-flex;
              border-radius: 2px;
              font-size: 14px;
              @media (max-width: 576px) {
                display: block;

                .date-liner {
                  display: none !important;
                }
              }
              > div {
                align-self: center;
                @media (max-width: 576px) {
                  display: flex;
                }
              }

              .date-label {
                display: none;
                align-self: center;
                border: 1px solid rgba(0, 0, 0, 0.2);
                width: 40px;
                text-align: center;
                line-height: 100%;
                padding: 2px 0;
                border-radius: 2px;

                @media (max-width: 576px) {
                  display: inline-block;
                  margin-right: 0.5rem;
                  font-size: 10px;
                }
              }
            }
          }
        }

        .liner {
          display: flex;
          flex-grow: 0;
          align-self: center;

          @media (max-width: 992px) {
            display: none;
          }
        }

        .others {
          display: flex;
          flex-grow: 0;

          @media (max-width: 992px) {
            margin-top: 0.5rem;
          }

          > div {
            width: 80px;
            text-align: center;
            align-self: center;

            @media (max-width: 992px) {
              border: 1px solid rgba(0, 0, 0, 0.2);
              margin-right: 0.5rem;

              &:last-child {
                margin-right: 0;
              }
            }

            @media (max-width: 576px) {
              flex: 1 1 0;
            }

            .label {
              > span {
                font-size: 12px;
                display: inline-block;
              }
            }

            .value {
              font-size: 20px;
              @media (max-width: 992px) {
                margin-bottom: 0.25rem;
              }
            }
          }
        }
      }
    }
  }
}
