.sprint-summary-wrapper {
  .expired-tag {
    display: inline-block;
    color: $danger;
    padding: 0.25rem 0.5rem;
    border: 1px solid $gray-500;
    line-height: 100%;
    font-weight: bold;
    font-size: 13px;
    margin-left: 0.5rem;
  }

  .status-control-block {
    margin-bottom: 1rem;
    @media (max-width: 992px) {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 0.5rem;
    }

    .close-control {
      margin-bottom: 0;
      border-radius: 0;
      .message {
        margin-bottom: 0.5rem;
        font-size: 14px;
      }
      text-align: center;
    }
  }

  .meeting-summary {
    display: inline-flex;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
    > span {
      align-self: center;
      &.tag {
        margin-right: 0.5rem;
        > span {
          border: 1px solid $gray-500;
          padding: 0.25rem 0.5rem;
          line-height: 100%;
          font-size: 13px;
          display: inline-block;
          font-family: pretendard, sans-serif;
        }
      }
      &.slash {
        margin: 0 0.5rem;
      }
    }
  }

  .user-list {
    flex-grow: 1;
    width: 100%;

    .user-table {
      width: 100%;
    }
    table {
      font-size: 14px;
      .user-info {
        text-transform: uppercase;

        .user-image {
          margin-right: 0.5rem;
        }
      }

      th {
        padding: 0.5rem 1rem;
      }

      th,
      td {
        vertical-align: middle;
      }

      th {
        font-family: pretendard, sans-serif;
        font-weight: bold;
        background-color: $light;
      }

      tbody {
        border-top: none;
      }

      .number {
        text-align: right;
      }

      td {
        &.number {
          width: 120px;
          min-width: 120px;
          font-family: righteous, plex, pretendard, sans-serif !important;

          > span {
            margin-right: 0.25rem;
            &.up {
              color: $danger;
            }

            &.down {
              color: $blue;
            }
          }
        }
      }

      .user-info {
        min-width: 200px;
        font-family: pretendard, sans-serif;
        font-weight: bold;
      }
    }
  }
}
