.conference-video-item-wrapper {
  vertical-align: middle;
  position: relative;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  height: 100%;

  border-radius: 2px;

  &.disable-video-info {
    width: auto;
    height: auto;
    line-height: 0;
  }

  .video-element {
    align-self: center;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #000;
    border-radius: 2px;

    .voice-visualizer {
      display: inline-block;
      width: 80px;
      height: 24px;
      position: absolute;
      top: 0.25rem;
      right: 0.25rem;
      z-index: 3;

      > canvas {
        width: 100%;
        height: 100%;
      }
    }

    .video-canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;

      canvas {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
      }
    }

    video {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 2px;
      transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      _display: none;
    }

    &.is-camera-denied {
      background-color: #333;
    }

    .control-status {
      position: absolute;
      top: 0.5rem;
      color: $black;
      width: 100%;
      line-height: 100%;
      font-size: 14px;
      z-index: 3;
      text-align: center;

      > span {
        display: inline-flex;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: $yellow;
        justify-content: center;
        font-size: 14px;
        > span {
          align-self: center;
        }
      }

      .audio-status {
        margin-left: 0.5rem;
        margin-right: 0.25rem;
      }
    }

    .user-info {
      position: absolute;
      bottom: 0.5rem;
      color: $black;
      width: 100%;
      text-align: center;
      font-size: 14px;
      z-index: 3;
      line-height: 100%;

      .alias {
        text-transform: uppercase;
        font-family: pretendard, sans-serif;
        font-weight: bold;
        background-color: $yellow;
        padding: 0.125rem 0.5rem;
        border-radius: 2px;
      }
    }
  }

  .time {
    position: absolute;
    bottom: 0;
  }

  .not-supported-user-media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: transparent;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    z-index: 2;
    > div {
      align-self: center;
      text-align: center;

      .message {
        margin-bottom: 0.5rem;
        position: relative;
        color: $danger;
        font-weight: bold;
        text-shadow: 1px 1px 1px $white;
        padding: 0 2rem;

        .loading {
          position: absolute;
          top: -50px;
          left: 0;
          width: 100%;
          text-align: center;
          > img {
            width: 50px;
          }
        }
      }
    }
  }

  .need-prompt,
  .need-permission {
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    right: 0;
    text-align: center;
    color: $danger;
    font-weight: bold;
    text-shadow: 1px 1px 1px $white;
    font-size: 14px;
    z-index: 3;
  }

  .need-prompt {
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    > div {
      align-self: center;
    }
  }

  .no-tracking-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: $black;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    z-index: 1;
    > div {
      align-self: center;
    }
  }

  &.tracking {
    .no-tracking-info {
      display: none;
    }
  }
}
