@keyframes fadeinLoader {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeoutLoader {
  from {
    opacity: 1;
  }
  99% {
    opacity: 0;
    width: 100%;
    height: 100%;
  }
  100% {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.common-wrapper {
  .common-message {
    padding: 2rem 0;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);

    .message-category {
      font-size: 3rem;
      line-height: 0;
      margin-bottom: 0.5rem;

      @media (max-width: 992px) {
        font-size: 2.4rem;
      }

      &.ERROR {
        color: $danger;
      }
    }

    .message-title {
      margin-bottom: 0.5rem;
      font-size: 1.2rem;

      @media (max-width: 992px) {
        font-size: 1.1em;
      }

      &:before {
        content: '<';
        font-size: 1.4rem;
      }
      &:after {
        content: '>';
        font-size: 1.4rem;
      }
    }

    .message-message {
      margin-bottom: 1rem;
      padding: 0 1rem;
    }
  }

  .loader {
    z-index: 20;
    &.show-loading {
      animation: fadeinLoader 0.3s;
      -moz-animation: fadeinLoader 0.3s;
      -webkit-animation: fadeinLoader 0.3s;
      -o-animation: fadeinLoader 0.3s;
      animation-fill-mode: forwards;
    }

    &.hide-loading {
      animation: fadeoutLoader 0.3s;
      -moz-animation: fadeoutLoader 0.3s;
      -webkit-animation: fadeoutLoader 0.3s;
      -o-animation: fadeoutLoader 0.3s;
      animation-fill-mode: forwards;
    }

    > div {
      > div {
        margin-bottom: 0.5rem;
        > div.loading-message {
          font-family: pretendard, sans-serif;
          text-transform: uppercase;
          font-size: 16px;
          background-color: $primary;
          display: inline-flex;
          color: $white;
          padding: 0.5rem 1rem;
          border-radius: 4px;

          > div {
            align-self: center;
            &.spinner {
              width: 29px;
              height: 29px;
              border-radius: 50%;
              background-color: $gray-300;
              display: inline-block;
              margin-right: 0.5rem;
              position: relative;

              > div {
                display: inline-block;
                position: absolute;
                width: 6px;
                height: 15px;
                top: 0;
                left: 12px;
                background-color: $primary;
                border-radius: 0 0 5px 5px;
                transition: none;
                animation: rotating 1s;
                -moz-animation: rotating 1s;
                -webkit-animation: rotating 1s;
                -o-animation: rotating 1s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
                transform-origin: 3px 15px;
              }
            }
          }
        }
      }
    }
  }
}
