@keyframes fadeinLoader {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeoutLoader {
  from {
    opacity: 1;
  }
  99% {
    opacity: 0;
    width: 100%;
    height: 100%;
  }
  100% {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.common-wrapper {
  .__react_component_tooltip {
    _background-color: $header-bg-color;
    _color: $black;
    font-weight: bold;

    &::after {
      _border-top-color: $header-bg-color !important;
    }
  }
  .common-message {
    padding: 2rem 0;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);

    .message-category {
      font-size: 3rem;
      line-height: 0;
      margin-bottom: 0.5rem;

      @media (max-width: 992px) {
        font-size: 2.4rem;
      }

      &.ERROR {
        color: $danger;
      }
    }

    .message-title {
      margin-bottom: 0.5rem;
      font-size: 1.2rem;

      @media (max-width: 992px) {
        font-size: 1.1em;
      }

      &:before {
        content: '<';
        font-size: 1.4rem;
      }
      &:after {
        content: '>';
        font-size: 1.4rem;
      }
    }

    .message-message {
      margin-bottom: 1rem;
      padding: 0 1rem;
    }
  }

  .loader {
    z-index: 20;
    &.show-loading {
      animation: fadeinLoader 0.3s;
      -moz-animation: fadeinLoader 0.3s;
      -webkit-animation: fadeinLoader 0.3s;
      -o-animation: fadeinLoader 0.3s;
      animation-fill-mode: forwards;
    }

    &.hide-loading {
      animation: fadeoutLoader 0.3s;
      -moz-animation: fadeoutLoader 0.3s;
      -webkit-animation: fadeoutLoader 0.3s;
      -o-animation: fadeoutLoader 0.3s;
      animation-fill-mode: forwards;
    }

    > div.loading-message-content {
      background-color: $point;
      color: $white;
      max-width: 600px;
      margin: 0 auto;
      line-height: 0;
      padding: 0.5rem 0;
      border-radius: 20px;

      @media (max-width: 576px) {
        margin: 0 1rem;
      }
      > div {
        text-align: left;
        margin-bottom: 0.5rem;
        line-height: 0;
        &:last-child {
          margin-bottom: 0;
        }
        > div.loading-message {
          width: 100%;
          font-family: pretendard, sans-serif;
          text-transform: uppercase;
          display: inline-flex;
          padding: 0 1rem;
          border-radius: 4px;

          @media (max-width: 576px) {
            font-size: 14px;
          }

          .spinner {
            margin-right: 1rem;
          }

          > div {
            align-self: center;
          }
        }
      }
    }
  }
}
