.home-wrapper {
  padding-top: 2rem !important;

  .home-content {
    display: flex;
    flex-direction: row;
    height: 100%;

    .timeline-content {
      min-width: 500px;
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 1rem 0 2rem 2rem;

      .timeline-meeting {
        position: relative;
        flex-grow: 1;
        background-color: $gray-100;
      }
    }

    .my-sprints {
      padding: 1rem 2rem 2rem;
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      .my-sprints-content {
        position: relative;
        flex-grow: 1;
      }
    }
  }
}
