.meeting-list-wrapper {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;

  > li {
    padding: 0.5rem 1rem;
    background-color: $white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;

    @media (max-width: 576px) {
      padding: 0.5rem;
    }

    &:hover {
      border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    }

    span.time-ago {
      display: inline-block;
      padding: 0.25rem;
      background-color: $green;
      color: $white;
      line-height: 100%;
      border-radius: 5px;
      font-weight: bold;
    }

    &.future {
      span.time-ago {
        background-color: $green !important;
        color: $white;
      }
    }

    &.past {
      span.time-ago {
        background-color: $gray-300 !important;
        color: $gray-700 !important;
      }
    }

    > div {
      display: flex;

      > div {
        align-self: center;
        font-size: 13px;
      }

      .status {
        min-width: 70px;
        margin-right: 0.5rem;

        @media (max-width: 576px) {
          display: none;
        }
      }

      .name-and-date {
        flex-grow: 0;
        margin-right: 2rem;
        white-space: nowrap;

        @media (max-width: 768px) {
          flex-grow: 1;
        }

        @media (max-width: 576px) {
          margin-right: 0.5rem;
        }

        .name {
          margin-bottom: 0;
          display: flex;
          > span {
            align-self: center;
          }

          .time-ago {
            display: none;

            @media (max-width: 576px) {
              margin-left: 0.5rem;
              display: inline-block;
            }
          }

          .text {
            font-weight: bold;
            font-size: 18px;
            @media (max-width: 576px) {
              font-size: 16px;
              max-width: 180px;
              overflow-x: hidden;
              text-overflow: ellipsis;
            }
          }
        }

        .meeting-date {
          display: inline-flex;
          border-radius: 2px;
          font-size: 14px;

          > div {
            align-self: center;
          }
        }
      }

      .users {
        flex-grow: 1;
        white-space: nowrap;
        overflow-x: hidden;

        @media (max-width: 768px) {
          display: none;
        }

        > div {
          text-align: right;

          > span {
            display: inline-block;
            padding: 0.25rem;
            line-height: 100%;
            margin-right: 0.5rem;
            text-transform: uppercase;

            &.user-alias {
              border-radius: 2px;
              border: 1px solid rgba(0, 0, 0, 0.4);
            }
          }
        }
      }

      .liner {
        display: flex;
        flex-grow: 0;
        align-self: center;

        @media (max-width: 768px) {
          display: none;
        }
      }

      .buttons {
        display: flex;
        flex-grow: 0;
        margin-right: 0;
        > button {
          margin-right: 0.5rem;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
