.user-card-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  height: 128px;
  line-height: 100%;
  vertical-align: top;

  &.add-card {
    &:hover {
      border: 1px solid rgba(0, 0, 0, 0.6);
    }
  }

  &.deleted {
    border-color: $danger;
  }

  .add-card-content {
    display: flex;
    flex-direction: row;
    height: 100%;
    cursor: pointer;

    > div {
      align-self: center;
      width: 100%;
      text-align: center;

      .icon {
        font-size: 36px;
        margin-bottom: 0.5rem;
      }
    }
  }

  > div {
    position: relative;
    display: flex;
    flex-direction: column;

    .role {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      display: inline-block;

      > span {
        margin-right: 0.25rem;
        font-size: 12px;
        display: inline-block;
        border: 1px solid rgba(0, 0, 0, 0.4);
        padding: 4px;
        line-height: 100%;
        min-width: 60px;
        text-align: center;

        &.deleted {
          color: $danger;
          border-color: $danger;
        }
      }
    }

    .remove-button,
    .redo-button {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      display: inline-block;
      line-height: 100%;
    }

    .redo-button {
      top: 0.25rem;
      right: 0.25rem;
    }

    .user-image {
      align-self: center;
      margin: 1rem 0 0.5rem;

      > div {
        > div {
          background-color: $light;
        }
      }
    }

    .user-card-content {
      flex-grow: 1;
      line-height: 100%;
      font-size: 14px;
      padding: 0 1rem 1rem;
      text-align: center;

      .email {
        font-family: pretendard, sans-serif;
        font-size: 14px;
        font-weight: bold;
      }

      .email,
      .alias {
        text-transform: uppercase;
      }

      .alias {
        > span {
          font-size: 13px;
          &.alias-text {
          }

          &.name-text {
            margin-left: 0.25rem;
            &:before {
              content: '[';
            }

            &:after {
              content: ']';
            }
          }
        }
      }

      > div {
        margin-bottom: 0.5rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
