.block-row-wrapper {
  display: flex;
  margin-bottom: 0.5rem;

  @media (max-width: 768px) {
    display: block;
    margin-bottom: 0.5rem;
  }

  > div {
    align-self: center;
  }

  &.expand {
    > div {
      &:last-child {
        flex-grow: 1;
      }
    }
  }
}
