.exit-button-wrapper {
  display: inline-block;
  position: relative;
  cursor: pointer;
  line-height: 100%;

  &.size-xxs {
    width: 18px;
    height: 18px;
  }

  &.size-xs {
    width: 26px;
    height: 26px;
  }

  &.size-sm {
    width: 31px;
    height: 31px;
  }

  &.size-md {
    width: 38px;
    height: 38px;
  }

  &.size-lg {
    width: 48px;
    height: 48px;
  }

  > div.x-1 {
    width: 140%;
    height: 140%;
    border-right: 1px solid $white;
    transform: rotate(45deg);
    position: absolute;
    top: -68%;
    left: -69%;
    transform-origin: 50% 50%;
  }

  > div.x-2 {
    width: 140%;
    height: 140%;
    border-right: 1px solid $white;
    transform: rotate(-45deg);
    position: absolute;
    top: 29%;
    left: -68%;
    transform-origin: 50% 50%;
  }

  &.color-white {
    > div.x-1,
    > div.x-2 {
      border-right: 1px solid $white;
    }

    &:hover {
      > div.x-1,
      > div.x-2 {
        border-color: $yellow !important;
      }
    }
  }

  &.color-black {
    > div.x-1,
    > div.x-2 {
      border-right: 1px solid rgba(0,0,0,0.6);
    }

    &:hover {
      > div.x-1,
      > div.x-2 {
        border-color: rgba(0,0,0,0.8) !important;
      }
    }
  }
}
