div.video-element-wrapper {
  vertical-align: middle;
  width: 320px;
  height: 240px;
  position: relative;
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 1rem;

  .control-status {
    position: absolute;
    top: 0.5rem;
    color: $white;
    width: 100%;
    line-height: 100%;
    font-size: 14px;
    z-index: 3;

    .audio-status {
      margin: 0 0.5rem;
    }
  }

  .user-info {
    position: absolute;
    bottom: 0.5rem;
    color: $white;
    width: 100%;
    text-align: center;
    line-height: 100%;
    font-size: 14px;
    z-index: 3;

    .alias {
      text-transform: uppercase;
      text-shadow: 1px 1px 4px black;
      font-family: pretendard, sans-serif;
      font-weight: bold;
    }
  }

  .time {
    position: absolute;
    bottom: 0;
  }

  video {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: $black;
    border-radius: 2px;
  }

  .not-supported-user-media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: $white;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    z-index: 2;
    > div {
      align-self: center;
      text-align: center;

      .message {
        margin-bottom: 0.5rem;
        position: relative;

        .loading {
          position: absolute;
          top: -50px;
          left: 0;
          width: 100%;
          text-align: center;
          > img {
            width: 50px;
          }
        }
      }
    }
  }

  .no-tracking-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: $black;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    z-index: 1;
    > div {
      align-self: center;
    }
  }

  &.tracking {
    .no-tracking-info {
      display: none;
    }
  }
}
