.project-wrapper {
  .project-content {
    display: flex;
    flex-direction: column;

    .project-member-title {
      position: relative;
      .request-count {
        position: absolute;
        top: 12px;
        font-size: 14px;
        right: 16px;

        > a {
          color: $point !important;

          .count {
            background-color: $danger;
            color: $white;
            position: absolute;
            top: -10px;
            right: -18px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: inline-flex;
            justify-content: center;
            > span {
              align-self: center;
            }
          }
        }
      }
    }

    .tabs {
      flex-grow: 0;
      padding: 1.5rem 2rem 0;
      display: none;

      @media (max-width: 1200px) {
        display: block;
      }

      @media (max-width: 576px) {
        padding: 1rem 1rem 0;
      }
    }

    .project-info {
      display: flex;
      flex-grow: 1;
      flex-direction: row;
      > div {
        &.general-info {
          padding: 1rem 0 0 2rem;
          min-width: 400px;
          max-width: 400px;
          display: flex;
          flex-direction: column;

          @media (max-width: 1200px) {
            display: none;
          }

          .project-user-list {
            flex-grow: 1;
            overflow-y: auto;
            position: relative;
            border: $border;
            background-color: $gray-100;
          }
        }

        &.sprint-timeline {
          padding: 1rem 2rem 0;
          flex-grow: 1;
          display: flex;
          flex-direction: column;

          @media (max-width: 1200px) {
            display: none;
          }

          @media (max-width: 992px) {
            padding: 1rem 1rem 0;
          }

          @media (max-width: 576px) {
            margin-bottom: 1rem;
          }

          .sprint-timeline-content {
            flex-grow: 1;
            position: relative;
          }
        }
      }
    }

    .content-title {
      position: relative;

      @media (max-width: 1200px) {
        display: none;
      }
    }

    &.project {
      .project-info {
        .general-info {
          @media (max-width: 1200px) {
            display: flex;
            flex-grow: 1;
            min-width: auto;
            max-width: none;
            padding-right: 2rem;
          }

          @media (max-width: 576px) {
            padding: 1rem;
          }
        }
      }
    }

    &.timeline {
      .project-info {
        .sprint-timeline {
          @media (max-width: 1200px) {
            display: flex;
          }
        }
      }
    }
  }
}
