.project-wrapper {
  .project-content {
    display: flex;
    flex-direction: column;

    .project-info {
      display: flex;
      flex-grow: 1;
      flex-direction: row;
      > div {
        &.general-info {
          padding: 1rem 0 0rem 2rem;
          min-width: 400px;
          max-width: 400px;
          display: flex;
          flex-direction: column;

          .project-card {
            border: $border;
            padding: 1rem;
            margin-bottom: 1rem;

            .project-name {
              font-family: pretendard, sans-serif;
              font-weight: bold;
              font-size: 1.2rem;
            }

            .project-info-tag {
              margin-top: 0.5rem;
              line-height: 100%;
              > span {
                display: inline-block;
                font-size: 12px;
                margin-right: 0.5rem;
                padding: 0.4rem;
                line-height: 100%;
                border-radius: 2px;
                &.allowed {
                  background-color: $green;
                  color: $white;
                }
              }
            }
          }

          .project-user-list {
            flex-grow: 1;
            overflow-y: auto;
            position: relative;
            border: $border;
          }
        }

        &.sprint-timeline {
          padding: 1rem 2rem 0;
          flex-grow: 1;
          display: flex;
          flex-direction: column;

          .sprint-timeline-content {
            flex-grow: 1;
            position: relative;
          }
        }
      }
    }

    .content-title {
      position: relative;
      .today {
        position: absolute;
        right: 0;
        font-size: 16px;
      }

    }

    .timeline-content {
      min-width: 500px;
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 1rem 0 2rem 2rem;

      @media (max-width: 1600px) {
        min-width: 400px;
      }

      @media (max-width: 1500px) {
        min-width: 350px;
      }

      @media (max-width: 1200px) {
        display: none;
      }

      .timeline-meeting {
        position: relative;
        flex-grow: 1;
        background-color: $gray-100;
      }
    }

    .my-sprints {
      padding: 1rem 2rem 2rem;
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      @media (max-width: 1200px) {
        display: none;
      }

      @media (max-width: 576px) {
        padding: 1rem;
      }

      .my-sprints-content {
        position: relative;
        flex-grow: 1;
      }
    }

    &.meeting {
      .timeline-content {
        @media (max-width: 1200px) {
          display: flex;
          flex-grow: 1;
          min-width: auto;
          padding-right: 2rem;
        }

        @media (max-width: 576px) {
          padding: 1rem;
        }
      }
    }

    &.sprint {
      .my-sprints {
        @media (max-width: 1200px) {
          display: flex;
        }
      }
    }
  }
}
