$space: 1.25rem;

.info-layout {
  .bottom-buttons-wrapper {
    margin: 1.5rem 0 $space;

    @media (max-width: 992px) {
      margin: 1rem 0 1rem;
    }

    @media (max-width: 576px) {
      margin: 1.5rem 0 0;
      padding: 0;
    }
  }
  .bottom-liner {
    margin-bottom: $space;
    margin-left: -1rem;
    margin-right: -1rem;

    @media (max-width: 992px) {
      margin-left: -1.5rem;
      margin-right: -1.5rem;
    }

    @media (max-width: 576px) {
      margin-left: -1rem !important;
      margin-right: -1rem !important;
    }
  }
}

.bottom-buttons-wrapper {
  text-align: right;
  padding: 0;
  margin: 1.5rem 1rem $space;

  @media (max-width: 992px) {
    margin: 1.5rem 1rem 1rem;
  }

  @media (max-width: 576px) {
    margin: 0 0 1rem;
    padding: 0 1rem;
  }

  .bottom-liner {
    margin-bottom: $space;
    margin-left: -1rem;
    margin-right: -1rem;

    height: 1px;
    background: rgb(122, 122, 124);
    background: linear-gradient(
      90deg,
      rgba(122, 122, 124, 1) 0%,
      rgba(255, 68, 0, 1) 20%,
      rgba(111, 205, 17, 1) 40%,
      rgba(42, 60, 188, 1) 60%,
      rgba(226, 21, 80, 1) 80%,
      rgba(238, 251, 10, 1) 100%
    );
    background: $gray-500;
    opacity: 0.7;

    @media (max-width: 992px) {
      margin-left: -1rem;
      margin-right: -1rem;
    }

    @media (max-width: 576px) {
      margin-left: -1rem;
      margin-right: -1rem;
    }
  }

  .button-content {
    display: flex;
    > .delete-buttons,
    > .close-buttons {
      flex-grow: 0;
      align-self: center;
      > button {
        color: lighten($danger, 15%);

        &:hover {
          color: $danger;
        }
      }
    }

    > .other-buttons {
      flex-grow: 1;
      text-align: right;
      padding: 0;
    }

    > div > button {
      min-width: 60px;
      height: 36px;
      padding: 0 1rem;
      border: none;
      font-weight: bold;
      color: $gray-600;
      background-color: transparent;

      &:hover {
        border: none;
        color: $black;
        background-color: transparent;
      }

      &.submit-button {
        color: lighten($point, 15%);
        &:hover {
          color: $point;
        }
      }

      > div {
        display: flex;
        justify-content: center;
        > div {
          align-self: center;

          &.icon {
            display: flex;
            margin-right: 0.25rem;

            > span {
              align-self: center;
              display: inline-flex;
              font-size: 16px;

              > i {
                flex-grow: 1;
                align-self: center;
              }
            }

            &.delete-icon {
              > span {
                i {
                  margin-bottom: 2px;
                }
              }
            }
          }
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
