.bottom-buttons-wrapper {
  text-align: right;
  padding: 1.5rem 1rem 0.5rem;
  margin: 1rem 0 0;
  display: flex;
  border-radius: 4px;

  @media (max-width: 576px) {
    padding: 1rem 0 0;
  }

  &.has-border {
    _border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    @media (max-width: 576px) {
      border: none;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  > .other-buttons {
    flex-grow: 1;
  }

  > div > button {
    margin-right: 0.5rem;

    > div {
      display: flex;
      > div {
        align-self: center;

        &.icon {
          display: flex;
          margin-right: 0.25rem;
          margin-left: -0.125rem;

          > span {
            align-self: center;
            border-radius: 50%;
            font-size: 11px;
            width: 20px;
            height: 20px;
            display: inline-flex;
            background-color: rgba(0, 0, 0, 0.6);
            color: $white;

            > i {
              flex-grow: 1;
              align-self: center;
            }
          }

          &.delete-icon {
            > span {
              i {
                margin-bottom: 2px;
              }
            }
          }
        }
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
