.entry-wrapper {
  padding-top: 2rem !important;
  .entry-content {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    flex-grow: 1;
    background-color: $white;
    position: relative;
    padding: 1rem;

    .entry-info {
      max-width: 400px;
      margin: 0 auto;

      .message {
        text-align: center;
        margin-bottom: 1rem;
      }

      video {
        border: 1px solid rgba(0, 0, 0, 1);
        background-color: red;
        position: absolute;
        top: 0;
        left: 0;
      }

      .user-picture {
        margin-bottom: 1rem;
        > div {
          width: 3.5cm;
          height: 4.5cm;
          background-color: $gray-100;
          margin: 0 auto;
          border: 1px solid rgba(0, 0, 0, 0.2);

          canvas {
            width: 100%;
            height: 100%;
          }
        }
      }

      .picture-buttons {
        text-align: center;
      }

      .inputs {
        margin-bottom: 1rem;
      }

      .buttons {
        text-align: center;
      }
    }
  }
}
