.entry-wrapper {
  .entry-content {
    display: flex;
    flex-direction: column;
    .entry-info {
      display: flex;
      flex-direction: row;
      flex-grow: 1;

      @media (max-width: 992px) {
        flex-direction: column;
      }

      .layout-1 {
        flex-grow: 0;
        min-width: 320px;
      }

      .layout-2 {
        flex-grow: 0;
        display: flex;
        padding: 1rem;
        @media (max-width: 992px) {
          display: none;
        }
        > div {
          width: 1px;
          height: 100%;
          border-right: 1px dashed rgba(0, 0, 0, 0.4);
          border-right: 1px solid rgba(0, 0, 0, 0.1);
          align-self: center;
        }
      }

      .layout-3 {
        flex-grow: 1;
      }

      .picture-info {
        .user-picture {
          display: flex;
          flex-direction: column;

          > .preview {
            flex-grow: 0;
            margin-bottom: 0.5rem;
            > div.preview-content {
              width: 120px;
              height: 120px;
              background-color: $gray-100;
              border: 1px solid rgba(0, 0, 0, 0.2);
              display: flex;
              border-radius: 2px;
              position: relative;
              margin: 0 auto;

              .remove-image-button {
                position: absolute;
                top: 0;
                right: -24px;
              }

              > div.preview-image {
                align-self: center;
                width: 100%;
                text-align: center;
                font-size: 50px;
                color: $gray-400;

                > img {
                  width: 100%;
                }
              }
            }
          }

          > .picture-controls {
            flex-grow: 1;
            text-align: center;

            > button {
              margin-right: calc(8px / 3);
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }

        .picture-buttons {
          text-align: center;
        }
      }

      .general-info {
        padding: 1rem;
        @media (max-width: 992px) {
          padding: 0 0.5rem;
          margin-bottom: 1rem;
        }
        .sub-label {
          margin-bottom: 1rem;
          font-family: pretendard, sans-serif;
        }

        .row-input {
          > div {
            align-self: center;

            &:first-child {
              min-width: 100px;
            }
          }
        }

        .row-input {
          display: flex;
          margin-bottom: 0.5rem;

          @media (max-width: 768px) {
            display: block;
            margin-bottom: 1rem;
          }

          > div {
            align-self: center;

            &:first-child {
              margin-right: 1rem;
              font-family: pretendard, sans-serif;
              padding-left: 0.5rem;

              > span {
                position: relative;
                .required {
                  position: absolute;
                  font-size: 10px;
                  top: -8px;
                  left: -12px;
                  color: $warning;
                }
              }

              @media (max-width: 768px) {
                width: 120px;
                display: inline-block;
                margin-right: 0;
              }

              @media (max-width: 576px) {
                width: auto;
                display: block;
              }
            }

            &:nth-child(2n) {
              @media (max-width: 768px) {
                display: inline-block;
                width: calc(100% - 120px);
                > div {
                  width: 100%;
                }
              }

              @media (max-width: 576px) {
                display: block;
                width: auto;
              }
            }

            &:nth-child(3n) {
              margin-left: 0.5rem;
              @media (max-width: 768px) {
                display: block;
                margin-left: 120px;
              }

              @media (max-width: 576px) {
                margin-left: 0;
              }
            }
          }
        }
      }
    }

    .submit-buttons {
      text-align: right;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      padding-top: 1.5rem;
      padding-bottom: 0.5rem;
      margin: 1rem 1rem 0;

      @media (max-width: 576px) {
        text-align: center;
      }
      > button {
        margin-right: 1rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
