@keyframes floating1 {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  to {
    transform: scale(1);
  }
}

.login-wrapper {
  position: relative;

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;

    @media (max-width: 576px) {
      display: none;
    }

    > div {
      position: absolute;
      border-radius: 50%;
      animation-duration: 10s;
      animation-name: floating1;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
  }

  .login-content {
    border: none;
    display: flex;
    justify-content: center;

    @media (max-width: 576px) {
      background-color: $white;
    }

    > form {
      width: 500px;
      align-self: center;
      margin: 0 auto;
      background-color: $white;
      padding: 2rem;
      border: $border;
      box-shadow: $box-shadow-sm;
      transition: all 0.3s;

      @media (max-width: 576px) {
        width: 100%;
        box-shadow: none;
        border: none;
        padding: 1rem;
      }

      &.typing {
        border: 1px solid rgba(0, 0, 0, 0.4);
        transition: all 0.3s;
        box-shadow: $box-shadow;
      }

      .need-auth-message {
        text-align: center;
        margin-bottom: 1rem;

        > span {
          color: $danger;
          padding: 0.25rem 0.5rem;
          font-family: pretendard, sans-serif;
          font-size: 15px;
          border-radius: 2px;
        }
      }

      .email {
        margin-bottom: 0.5rem;
      }

      .password {
        margin-bottom: 1rem;
      }

      .auto-login {
        text-align: center;
        margin-bottom: 1rem;
      }

      .bottom-button {
        text-align: center;
      }

      .message {
        text-align: center;
        margin-top: 1rem;

        a {
          font-family: pretendard, sans-serif;

          color: $point;
          text-decoration: none;

          &:visited {
            color: $point;
          }
        }
      }
    }
  }
}
