.app-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: $light;

  > div {
    &.app-header,
    &.app-footer {
      flex-grow: 0;
    }

    &.app-content {
      flex-grow: 1;
      max-width: $wrapper-width;
      width: 100%;
      margin: 0 auto;
    }
  }
}
