@import '~bootstrap/scss/bootstrap.scss';
@import 'styles/project-imports';
@import 'fonts/fontawesome-free-5.15.4/css/all.css';

@font-face {
  font-family: 'pretendard';
  font-weight: 100;
  src: url('fonts/pretendard/Pretendard-Light.woff');
}

@font-face {
  font-family: 'pretendard';
  font-weight: 400;
  src: url('fonts/pretendard/Pretendard-Regular.woff');
}

@font-face {
  font-family: 'pretendard';
  font-weight: 700;
  src: url('fonts/pretendard/Pretendard-Bold.woff');
}

@font-face {
  font-family: 'plex';
  font-weight: 100;
  src: url('fonts/ibm-plex-sans-kr/IBMPlexSansKR-Light.ttf');
}

@font-face {
  font-family: 'plex';
  font-weight: 400;
  src: url('fonts/ibm-plex-sans-kr/IBMPlexSansKR-Regular.ttf');
}

@font-face {
  font-family: 'plex';
  font-weight: 700;
  src: url('fonts/ibm-plex-sans-kr/IBMPlexSansKR-Bold.ttf');
}

@font-face {
  font-family: 'tway';
  src: url('fonts/tway-air/tway_air.ttf');
}

@font-face {
  font-family: 'muli';
  src: url('./fonts/muli/muli.woff2');
}

@font-face {
  font-family: 'righteous';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/righteous/Righteous-Regular.ttf');
}

body {
  margin: 0;
  font-family: plex, pretendard, sans-serif !important;

  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $light;
}

html,
body,
#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: $gray-300;
}
::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 30px;
  border-radius: 0;
}
