.text-area-wrapper {
  display: block;
  position: relative;
  padding-top: 20px;
  line-height: 0;

  textarea {
    border: none;
    width: 100%;
    border: $input-border;
    height: auto;
    position: relative;
    z-index: 2;
    resize: none;
    line-height: 160%;
    padding: 0.5rem 0.75rem;
    border-radius: $input-radius;
    background-color: $white;
    -webkit-appearance: none;

    &:focus {
      box-shadow: none;
      outline: none;
    }

    &:invalid {
      border-bottom: 1px solid $border-color;
    }
  }

  .input-info {
    font-size: 1rem;
    position: absolute;
    top: 54px;
    left: 7px;
    transition: all 0.3s;
    color: $gray-700;
    z-index: 3;
    width: 100%;

    @media (max-width: 576px) {
      font-size: 0.9rem;
    }

    > div {
      display: inline-block;

      &.placeholder-message {
        _color: $primary;
        font-size: 0.9rem;
        margin-left: 5px;
        @media (max-width: 576px) {
          font-size: 0.8rem;
        }
        &:before {
          content: '<';
        }
        &:after {
          content: '>';
        }
      }

      &.invalid-message {
        font-size: 0.7rem;
        background-color: $danger;
        color: $white;
        display: inline-block;
        padding: 2px 6px 1px;
        border-radius: 2px;
        float: right;
      }
    }
  }

  .length-info {
    position: absolute;
    top: -22px;
    right: 0;
    display: inline-flex;

    > div {
      align-self: center;
      line-height: 100%;
      font-size: 13px;

      &.icon {
        margin-right: 0.25rem;
      }

      span {
        display: inline-block;
        &.slash {
          margin: 0 0.25rem;
        }
      }
    }
  }

  &.focus {
    .input-info {
      font-size: 0.8rem;
      top: 10px;
      transition: all 0.3s;
      color: $gray-600;
    }

    textarea {
      border: $input-focus-border;
    }
  }

  &.has-value {
    .input-info {
      font-size: 0.8rem;
      top: 10px;
      transition: all 0.3s;
      color: $gray-600;
    }
  }

  &.in-valid {
    input {
      border-bottom: 1px solid $danger;
    }
  }

  @media (min-width: 992px) {
    &:hover {
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  &.simple {
    padding-top: 0;

    .input-info {
      display: none;
    }
  }
}
