.block-title-wrapper {
  display: flex;
  margin-bottom: 1rem;

  > div {
    align-self: center;

    &.bullet {
      margin-right: 2px;
      height: 100%;
      display: inline-flex;

      &.bullet-3 {
        margin-right: 0.25rem;
      }

      > span {
        align-self: center;
        line-height: 100%;
        display: inline-block;
        height: 9px;
        width: 2px;
        background-color: $primary;
        background-color: $secondary;
      }
    }

    &.text {
      > span {
        font-size: 18px;

        font-family: pretendard, sans-serif;
      }
    }
  }

  &.size-xs {
    .text {
      > span {
        font-size: 12px;
      }
    }
  }

  &.size-sm {
    .text {
      > span {
        font-size: 14px;
      }
    }
  }

  &.size-md {
    .text {
      > span {
        font-size: 18px;
      }
    }
  }

  &.is-bold {
    font-weight: bold;
  }
}
