.page-wrapper {
  padding: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (max-width: 992px) {
    padding: 1rem;
  }

  @media (max-width: 576px) {
    padding: 0;
  }

  .page-breadcrumbs {
    position: absolute;
    top: 0.5rem;
    right: 2rem;
  }
}
