.conference-info-bar-wrapper {
  position: absolute;
  top: 0;
  left: 80px;
  height: 120px;
  right: 80px;
  display: flex;
  justify-content: center;
  color: $white;
  z-index: 5;

  > div {
    align-self: center;
  }

  @media (max-width: 576px) {
    height: 70px;
    left: 56px;
    right: 60px;
  }

  .time-info {
    position: absolute;
    top: 0;
    height: 70px;
    right: 0;
    display: inline-flex;
    font-size: 14px;
    > div {
      align-self: center;
      color: $gray-500;
      line-height: 100%;

      > div {
        &:first-child {
          margin-bottom: 0.25rem;
          margin-top: 0.25rem;
        }
      }

      .my-conference-info {
        display: inline-flex;
        > div {
          align-self: center;
          .icon {
            margin-right: 0.5rem;
          }

          .count {
            margin-right: 0.5rem;
          }

          .times {
            margin-right: 0.5rem;
          }
        }
      }

      span:first-child {
        margin-right: 0.5rem;
      }
    }
  }

  .scrum-info-status {
    position: absolute;
    bottom: 0;
    right: -2rem;
    display: flex;
    height: 30px;

    > div {
      align-self: center;
      margin-right: 0.5rem;
      line-height: 0;
      font-size: 14px;
      span.tag {
        font-size: 10px;
        font-family: 'Noto Sans', sans-serif;
        font-weight: bold;
        display: inline-block;
        line-height: 100%;
        background: $primary;
        padding: 2px 4px;
        border-radius: 2px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

  > div.scrum-control-layout {
    display: flex;
    @media (max-width: 576px) {
      flex-grow: 1;
    }

    .scrum-control {
      display: inline-flex;
      margin-right: 1rem;

      > div {
        align-self: center;
        margin-right: 0.5rem;
        &:last-child {
          margin-right: 0;
        }

        .my-daily-button {
          position: relative;

          .no-register {
            position: absolute;
            top: -14px;
            left: calc(100% - 20px);
            display: inline-block;
            background-color: $warning;
            white-space: nowrap;
            color: $white;
            line-height: 100%;
            font-size: 14px;
            font-weight: bold;
            padding: 0.25rem;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
