.conference-wrapper {
  padding: 0;
  position: relative;

  .conference-page-content {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    border: none;
    background-color: transparent;
    padding: 0;

    > .conference-page-content-layout {
      flex-grow: 1;
      display: flex;
      position: relative;
      flex-direction: column;
      padding: 120px 1rem 0;

      @media (max-width: 576px) {
        padding-top: 70px;
      }

      > .conference-page-content-layout-content {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        border-radius: 4px;
        position: relative;

        .user-join-request-controller {
          position: absolute;
          right: 0;
          top: 0;
          z-index: 4;
        }

        .streaming-content {
          display: flex;
          flex-grow: 1;
          padding: 0;
          position: relative;

          @media (max-width: 768px) {
            flex-direction: column;
          }

          > .streaming-screen-sharing-content {
            flex-grow: 1;
            position: relative;
            border: 1px solid $gray-800;
            > div {
              left: 1px;
              top: 1px;
              right: 1px;
              bottom: 1px;
            }

            video {
              background-color: $black;
              width: 100%;
              height: 100%;
            }
          }

          > .user-video-list-content {
            flex-grow: 1;
            position: relative;
            line-height: 0;

            @media (max-width: 768px) {
              overflow-y: auto;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              padding-right: 0.5rem;
            }

            .user-video-list-content-layout {
              height: 100%;
              > div {
                display: inline-flex;
                line-height: 160%;
              }

              .conference-video-item-content {
                background-color: #000;
                border: 1px solid $gray-800;
                padding: 1px;
                @media (max-width: 768px) {
                  margin-right: 1rem !important;
                  margin-bottom: 1rem !important;
                  width: calc((100% - 1rem) / 2) !important;
                  height: 140px !important;

                  &:nth-child(2n) {
                    margin-right: 0 !important;
                  }
                }
              }
            }

            &.no-user {
              display: flex;
              flex-direction: column;
              background-color: #000;
            }

            &.is-sharing {
              overflow-y: auto;
              padding: 1rem;
              border: 1px solid $gray-800;
              border-left: none;
              background-color: #111;

              .conference-video-item-content {
                margin-right: 0 !important;
                margin-bottom: 1rem !important;
                width: 100% !important;
                min-height: 140px !important;

                &:last-child {
                  margin-bottom: 0 !important;
                }
              }
            }

            .no-users {
              width: 100%;
              flex-grow: 1;
              display: flex;
              justify-content: center;
              > div {
                align-self: center;
                color: $white;
              }
            }
          }

          .my-video-item-content {
            position: absolute;
            bottom: -90px;
            left: 1rem;
            width: 200px;
            height: 200px;
            z-index: 4;
            transform-origin: left bottom;

            @media (max-width: 768px) {
              display: none;
            }

            @media (max-width: 576px) {
              max-height: 120px;
            }
          }

          &.sharing {
            flex-direction: row;

            @media (max-width: 768px) {
              flex-direction: column;
            }

            > div.user-video-list-content {
              min-width: 240px;
              flex-grow: 0;
              position: relative;

              @media (max-width: 768px) {
                min-width: 100%;
                max-width: 100% !important;
                width: 100%;
                height: 160px;
                white-space: nowrap;
                overflow-x: auto;
                border-top: none;
                border-left: 1px solid $gray-800;
              }

              @media (max-width: 576px) {
                height: 140px;
              }

              .user-video-list-content-layout {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                overflow-y: auto;
                padding: 1rem;

                .conference-video-item-content {
                  @media (max-width: 768px) {
                    min-height: auto !important;
                    height: 100% !important;
                    width: 180px !important;
                    margin-right: 1rem !important;
                    margin-bottom: 0 !important;

                    &:last-child {
                      margin-right: 0 !important;
                    }
                  }
                }
              }
            }

            .my-video-item-content {
              display: none;
            }
          }
        }
      }
    }

    > .participants-list {
      width: 300px;
      position: relative;
      z-index: 5;
    }
  }
}
