.scrum-info-viewer-wrapper {
  padding: 1rem;
  margin: 0 2rem;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #222;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  _border-radius: 4px;
  z-index: 14;
  border: 1px solid $gray-600;
  color: $white;

  .message-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: $video-item-background-color;
    z-index: 10;

    > div {
      align-self: center;
      text-align: center;

      .image-content {
        width: 200px;
        height: 200px;
        overflow: hidden;
        background-image: url('../../../images/close-up-picture-hand-holding-planting-sapling-plant.jpg');
        background-size: auto 200px;
        background-position: -100px;
        border-radius: 50%;
        display: inline-block;
      }

      .icon {
        font-size: 80px;
      }

      .message-text {
        font-size: 1.4rem;
        font-weight: bold;
        color: $white;
      }
    }
  }

  .scrum-info-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    .question-answer {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      .scrum-info-title {
        margin-left: 0.5rem;
        font-weight: bold;
        font-family: pretendard, sans-serif;
      }

      .question-answer-content {
        padding-left: 1rem;
        padding-right: 1rem;

        flex-grow: 1;
        position: relative;
        > div {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          overflow-y: auto;
        }
        ul {
          padding: 0;
          margin: 0;
          list-style: none;

          li {
            padding: 0.5rem;
            margin-bottom: 1rem;

            &.my-turn {
              cursor: pointer;
            }

            &.focused {
              background-color: $yellow;
              color: $black;
            }

            .question {
              font-family: pretendard, sans-serif;
              text-align: left;

              > span {
                display: inline-block;
                padding: 0.25rem 0.5rem;
              }
            }

            .answer {
              padding: 0;
              margin: 0 1rem;
              font-weight: bold;
              white-space: pre-wrap;

              > span {
                display: block;

                padding: 0.5rem;
              }
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    .current-user-video {
      width: 240px;
      height: 180px;
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      background-color: #000;

      @media (max-width: 768px) {
        position: static;
        width: 100%;
        margin-top: 1rem;
      }

      .video-element {
        background: transparent;
      }

      video {
        border-radius: 0;
      }
    }
  }

  .scrum-info-button {
    margin-top: 1.5rem;
    width: 100%;
    text-align: center;
    > button {
      margin-right: 0.5rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
