$min-contrast-ratio: 2.5;
$wrapper-width: 1600px;
$logo-bg-color: #ff030d;
$header-bg-color: #1d88ea;
$header-hover-bg-color: #104e8b;
$primary: rgb(11, 154, 223);
$border: 1px solid rgba(0,0,0,0.2);

@import '~bootstrap/scss/bootstrap.scss';

:export {
  primaryColor: $primary;
}
