$min-contrast-ratio: 2.5;
$wrapper-width: 1600px;
$logo-bg-color: #ff030d;
$header-bg-color: #1d88ea;
$header-bg-color: #FEE500;
$header-hover-bg-color: #104e8b;
$header-hover-bg-color: #FED900;
$primary: rgb(11, 154, 223);
$primary: rgb(247, 52, 94);
$danger: #FA1D2F;

$border: 1px solid rgba(0, 0, 0, 0.2);
$input-border: 1px solid rgba(0, 0, 0, 0.4);
$input-focus-border: 1px solid rgba(0, 0, 0, 0.6);
$input-radius: 2px;

$control-xs-height : 26px;
$control-sm-height : 31px;
$control-md-height : 38px;
$control-lg-height : 48px;

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';

:export {
  primaryColor: $primary;
}
