.text-wrapper {
  display: inline-flex;
  word-break: break-all;

  @media (max-width: 576px) {
    display: flex;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  > div {
    align-self: center;
  }

  &.size-xs {
    height: 26px;
    .text {
    }
  }

  &.size-sm {
    height: 31px;
    .text {
    }
  }

  &.size-md {
    height: 38px;
  }

  &.size-lg {
    height: 48px;
  }

  &.is-bold {
    font-weight: bold;
  }
}
