.text-wrapper {
  display: inline-flex;
  word-break: break-all;

  _background-color: $light;
  _background-color: rgba(0,0,0,0.01);
  _width: 100%;
  _padding: 0 0.75rem;
  _border: 1px solid rgba(0, 0, 0, 0.05);

  @media (max-width: 576px) {
    display: flex;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  > div {
    align-self: center;
  }

  &.size-xs {
    height: 26px;
    .text {
    }
  }

  &.size-sm {
    height: 31px;
    .text {
    }
  }

  &.size-md {
    height: 38px;
  }

  &.size-lg {
    height: 48px;
  }

  &.is-bold {
    font-weight: bold;
  }
}
