.text-maker-wrapper {
  .text-maker-content {
    > div {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    .preview {
      border: 1px solid rgba(0, 0, 0, 0.5);
      width: 120px;
      height: 120px;
      margin: 0 auto 1rem;

      .text-input {
        height: 100%;
      }

      input {
        border: none;
        height: 100%;
        text-align: center;
        font-size: 30px;
      }
    }
  }
}
