.change-password-wrapper {
  form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .general-info {
      flex-grow: 1;

      .input-content {
        padding: 0 1rem;
      }
    }
  }
}
