.edit-my-info-wrapper {
  .join-content {
    display: flex;
    flex-direction: column;
    .join-info {
      .user-info-content {
        display: flex;

        @media (max-width: 768px) {
          display: block;
        }


      }

      .preview-liner {
        margin-bottom: 2.5rem;
        margin-top: 0.5rem;
      }
      .user-card {
        width: 300px;
        margin: 0 auto;
      }
    }
  }
}
