.my-info-wrapper {
  .user-info-content {
    display: flex;
    @media (max-width: 768px) {
      display: block;
    }
  }

  .user-image {
    margin-right: 2rem;

    @media (max-width: 768px) {
      text-align: center;
      margin-right: 0;
    }
  }
}
